.container1 {
  width: 90%;
  margin: auto;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: transparent;
}
#header .boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#header .boxes .logo {
  width: 15%;
}
#header .boxes .nav-menuu {
  width: 70%;
  justify-content: center;
}
#header .boxes .nav-menuu li a {
  text-decoration: none;
  padding: 50px 20px;
  display: inline-block;
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#header .boxes .nav-menuu li a i {
  margin-left: 4px;
}
#header .boxes .nav-menuu li.service {
  position: relative;
}
#header .boxes .nav-menuu li.service:hover .service-dropped {
  transform: perspective(300px) rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
#header .boxes .nav-menuu li.service .service-dropped {
  position: absolute;
  background-color: red;
  top: 80%;
  width: 200px;
  text-align: center;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  transform: perspective(300px) rotateX(-18deg);
  opacity: 0;
  visibility: hidden;
}
#header .boxes .nav-menuu li.service .service-dropped li {
  border-bottom: 1px solid grey;
  width: 80%;
  margin: auto;
}
#header .boxes .nav-menuu li.service .service-dropped li a {
  padding: 15px 20px;
  font-size: 17px;
}
#header .boxes .nav-right .nav-tel {
  display: none;
}
#header .boxes .nav-right a {
  text-decoration: none;
  padding: 15px 25px;
  border: 1px solid #7C58D3;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  color: black;
  transition: 0.3s ease-in-out;
}
#header .boxes .nav-right a:hover {
  color: white;
  background-color: #7C58D3;
}
#header .boxes .nav-right a:hover i {
  color: white;
}
#header .boxes .nav-right a i {
  margin-right: 5px;
  color: #7C58D3;
  transition: 0.3s ease-in-out;
}

@media (max-width: 576px) {
  #header {
    background-color: transparent;
    padding: 20px;
  }
  #header .boxes {
    display: flex;
  }
  #header .boxes .logo {
    width: 35%;
  }
  #header .boxes .nav-menuu {
    background-color: blue;
    display: none;
  }
  #header .boxes .nav-right {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #header .boxes .nav-right .nav-tel {
    display: block;
    margin-right: 10px;
    font-size: 20px;
  }
}
#care {
  padding-top: 10%;
  width: 100%;
  background-image: url(../image/shape_banner_bg.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
#care .box1 {
  padding-top: 60px;
}
#care .box1 span {
  color: purple;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 40px;
}
#care .box1 h1 {
  font-weight: 800;
  width: 70%;
  font-size: 50px;
}
#care .box1 a {
  text-decoration: none;
}
#care .box1 a .box3 i {
  color: #7C58D3;
  border: 1px solid #a499be;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3 ease-in-out;
}
#care .box1 a .box3 i:hover {
  background-color: #7C58D3;
  color: white;
}
#care .box1 a .box3 h4 {
  color: black;
  font-weight: bold;
  font-size: 20px;
  line-height: 10px;
  margin-top: 20px;
}
#care .box1 a .box3 p {
  color: black;
}
#care .box4 {
  padding-top: 100px;
}

#cliens {
  width: 95%;
  height: 30vh;
  margin: 40px 30px;
  background-color: #7C58D3;
  padding-top: 50px;
  border-radius: 10px;
}
#cliens .boxes {
  width: 95%;
  margin: auto;
}
#cliens .boxes h1 {
  color: white;
  font-weight: bolder;
}
#cliens .boxes p {
  color: white;
}

#category .our {
  width: 100%;
  height: 20vh;
  text-align: center;
}
#category .our p {
  color: #7C58D3;
  font-weight: 800;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#category .our h1 {
  font-weight: 800;
}
#category .shop {
  width: 100%;
  margin: auto;
}
#category .shop .shop1 {
  border: 3px solid #e6dafe;
  padding: 20px 40px 20px 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#category .shop .shop1 h4 {
  padding-top: 20px;
  font-weight: 800;
  text-align: center;
}
#category .shop .shop1 .list {
  width: 100%;
  height: 70%;
  padding-top: 25px;
}
#category .shop .shop1 .list ul {
  position: relative;
}
#category .shop .shop1 .list ul li {
  list-style: none;
}
#category .shop .shop1 .list ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 5%;
  color: #7C58D3;
  display: inline-block;
}
#category .shop .shop2 {
  border: 3px solid #FFBBDD;
  padding: 20px 40px 20px 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#category .shop .shop2 h4 {
  padding-top: 20px;
  font-weight: 800;
  text-align: center;
}
#category .shop .shop2 .list {
  width: 100%;
  height: 70%;
  padding-top: 25px;
}
#category .shop .shop2 .list ul {
  position: relative;
}
#category .shop .shop2 .list ul li {
  list-style: none;
}
#category .shop .shop2 .list ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 5%;
  color: #7C58D3;
  display: inline-block;
}
#category .shop .shop3 {
  border: 3px solid #FFEEAA;
  padding: 30px 40px 30px 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#category .shop .shop3 h4 {
  padding-top: 20px;
  font-weight: 800;
  text-align: center;
}
#category .shop .shop3 .list {
  width: 100%;
  height: 70%;
  padding-top: 25px;
}
#category .shop .shop3 .list ul {
  position: relative;
}
#category .shop .shop3 .list ul li {
  list-style: none;
}
#category .shop .shop3 .list ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 5%;
  color: #7C58D3;
  display: inline-block;
}
#category .shop .shop4 {
  border: 3px solid #FFBBDD;
  padding: 30px 40px 30px 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#category .shop .shop4 h4 {
  padding-top: 20px;
  font-weight: 800;
  text-align: center;
}
#category .shop .shop4 .list {
  width: 100%;
  height: 70%;
  padding-top: 25px;
}
#category .shop .shop4 .list ul {
  position: relative;
}
#category .shop .shop4 .list ul li {
  list-style: none;
}
#category .shop .shop4 .list ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 5%;
  color: #7C58D3;
  display: inline-block;
}
#category .shop .shop5 {
  border: 3px solid #FFEEAA;
  padding: 30px 40px 30px 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#category .shop .shop5 h4 {
  padding-top: 20px;
  font-weight: 800;
  text-align: center;
}
#category .shop .shop5 .list {
  width: 100%;
  height: 70%;
  padding-top: 25px;
}
#category .shop .shop5 .list ul {
  position: relative;
}
#category .shop .shop5 .list ul li {
  list-style: none;
}
#category .shop .shop5 .list ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 5%;
  color: #7C58D3;
  display: inline-block;
}
#category .shop .shop6 {
  border: 3px solid #e6dafe;
  padding: 30px 40px 30px 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#category .shop .shop6 h4 {
  padding-top: 20px;
  font-weight: 800;
  text-align: center;
}
#category .shop .shop6 .list {
  width: 100%;
  height: 70%;
  padding-top: 25px;
}
#category .shop .shop6 .list ul {
  position: relative;
}
#category .shop .shop6 .list ul li {
  list-style: none;
}
#category .shop .shop6 .list ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 5%;
  color: #7C58D3;
  display: inline-block;
}

#products {
  padding-top: 80px;
  width: 100%;
}
#products .top {
  width: 98%;
  margin: auto;
}
#products .top p {
  font-weight: 800;
  color: #7C58D3;
}
#products .top h1 {
  font-weight: 900;
}
#products .sale1 {
  text-align: center;
  position: relative;
}
#products .sale1 .div {
  width: 11%;
  height: 7%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(210, 210, 210);
  position: absolute;
  bottom: 38%;
  left: 68%;
  padding-top: 2px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
#products .sale1 .div:hover {
  opacity: 1;
}
#products .sale1 .div i {
  color: gray;
}
#products .sale1::before {
  content: "Add To Cart";
  color: white;
  font-weight: bold;
  padding-top: 4px;
  position: absolute;
  width: 30%;
  height: 7%;
  top: 55%;
  left: 20%;
  border-radius: 8px;
  background-color: #7C58D3;
}
#products .sale1 .div1 {
  width: 11%;
  height: 7%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(210, 210, 210);
  position: absolute;
  bottom: 38%;
  left: 55%;
  padding-top: 2px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
#products .sale1 .div1:hover {
  opacity: 1;
}
#products .sale1 .div1 i {
  color: gray;
}
#products .sale1 a {
  text-decoration: none;
}
#products .sale1 a h1 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.3s ease-in-out;
}
#products .sale1 a h1:hover {
  color: #7C58D3;
}
#products .sale1 a i {
  color: #FFDA47;
  margin-bottom: 10px;
}
#products .sale1 a p {
  color: #7C58D3;
  font-size: 20px;
  font-weight: bold;
}
#products .sale2 {
  text-align: center;
}
#products .sale2 a {
  text-decoration: none;
}
#products .sale2 a h1 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.3s ease-in-out;
}
#products .sale2 a h1:hover {
  color: #7C58D3;
}
#products .sale2 a i {
  color: #FFDA47;
  margin-top: 30px;
  margin-bottom: 10px;
}
#products .sale2 a p {
  color: #7C58D3;
  font-size: 20px;
  font-weight: bold;
}
#products .sale3 {
  text-align: center;
}
#products .sale3 a {
  text-decoration: none;
}
#products .sale3 a h1 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.3s ease-in-out;
}
#products .sale3 a h1:hover {
  color: #7C58D3;
}
#products .sale3 a i {
  margin-top: 20px;
  color: #FFDA47;
  margin-bottom: 10px;
}
#products .sale3 a p {
  color: #7C58D3;
  font-size: 20px;
  font-weight: bold;
}

#specials {
  width: 100%;
  height: 100vh;
  padding-top: 40px;
}
#specials .check {
  background-image: url(../image/offer_banner_bg_img_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  border-radius: 10px;
  position: relative;
}
#specials .check .check1 {
  position: absolute;
  top: 18%;
  left: 5%;
}
#specials .check .check1 h1 {
  font-weight: 800;
  font-size: 50px;
  width: 40%;
  color: black;
}
#specials .check .check1 p {
  width: 45%;
  font-size: 20px;
}
#specials .check .check1 a {
  color: #7C58D3;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  position: relative;
}
#specials .check .check1 a:hover::before {
  width: 90%;
}
#specials .check .check1 a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 5%;
  background-color: #7C58D3;
  transition: 0.3s ease-in-out;
}
#specials .check .check1 a i {
  padding: 7px;
}
#specials .check .up {
  position: absolute;
  top: 5%;
  left: 55%;
  width: 35%;
  border-radius: 10px;
  height: 10vh;
  background-color: #7C58D3;
}
#specials .check .up h3 {
  font-weight: bold;
  color: white;
  width: 100%;
  padding: 10px;
}
#specials .luxury {
  height: 90vh;
}
#specials .luxury .fashion {
  width: 100%;
  height: 43vh;
  margin-bottom: 20px;
  background-color: #FFDA47;
  border-radius: 10px;
  padding: 20px;
}
#specials .luxury .fashion h1 {
  font-weight: 800;
  font-size: 40px;
  width: 40%;
  color: black;
}
#specials .luxury .fashion a {
  color: #7C58D3;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  position: relative;
}
#specials .luxury .fashion a:hover::before {
  width: 90%;
}
#specials .luxury .fashion a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 5%;
  background-color: #7C58D3;
  transition: 0.3s ease-in-out;
}
#specials .luxury .fashion a i {
  padding: 7px;
}
#specials .luxury .collection {
  width: 100%;
  height: 43vh;
  border: 2px solid orange;
  background-color: #FFDA47;
  border-radius: 10px;
  padding: 20px;
}
#specials .luxury .collection h1 {
  font-weight: 800;
  font-size: 40px;
  width: 40%;
  color: black;
}
#specials .luxury .collection a {
  color: #7C58D3;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  position: relative;
}
#specials .luxury .collection a:hover::before {
  width: 90%;
}
#specials .luxury .collection a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 5%;
  background-color: #7C58D3;
  transition: 0.3s ease-in-out;
}
#specials .luxury .collection a i {
  padding: 7px;
}

@media (max-width: 576px) {
  #care {
    background-size: 80%;
    background-position: right top;
    padding-top: 25%;
  }
  #care .box1 h1 {
    width: 80%;
  }
  #cliens {
    height: 50vh;
  }
  #cliens .boxes1 {
    width: 90%;
    margin: auto;
  }
  #category .our h1 {
    font-size: 40px;
  }
  #category .our .shop .shop1 {
    display: none;
  }
  #specials .check {
    background-position: right;
    position: relative;
    height: 70vh;
  }
  #specials .check .check1 {
    width: 80%;
    margin: auto;
    height: 50vh;
    background-color: white;
    border-radius: 10px;
    padding: 30px 0 0 40px;
  }
  #specials .check .check1 h1 {
    font-size: 40px;
    width: 70%;
  }
  #specials .check .check1 p {
    font-size: 15px;
  }
  #specials .check .up {
    position: absolute;
    left: 25%;
    width: 65%;
    height: 6vh;
  }
  #specials .check .up h3 {
    padding: 10px 0 0 40px;
  }
}/*# sourceMappingURL=style.css.map */